.itens img{
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.item{
    text-align: center;
    width: 250px;
    height: 300px;
    margin: 1px auto 25px auto;
}

.item:hover{
    
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.item p {
    margin-top: 0.3rem;
    line-height: 1rem;
    margin-bottom: 0;
}

.item a ~ p{
    color: var(--cinza);
    font-size: 0.9rem;
}

.item a {
    text-decoration: none;
    color: var(--preto);
}

.item a:hover {
    text-decoration: underline;
}



