@import url(_variaveis.css);

/* Style the navigation menu */
.nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 10px;
}

/* Style the list inside the menu */
.nav h2 {
    font-weight: var(--peso-destaque);
    padding-bottom: 1rem;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav a {
    line-height: 2rem;
}

.nav a:hover {
    text-decoration: underline;
}