.sidebar {
    margin-right: 0.5rem;
    padding: 5px 40px 0px 10px;
    background-color: rgb(224, 224, 224);
}

.sidebar h3{
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    line-height: 2rem;
    text-decoration: none;
    color: var(--preto);
}

.sidebar a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

