.sidebar {
    margin-right: 0.5rem;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    line-height: 2rem;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}

